<section class="filters-wrapper">
  <div class="filters-close">
    <div class="container">
      <a href="#" class="icon-cross"></a>
    </div>
  </div>
  <div class="filter-module-1" id="filter-module-1">
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-4">
          <div class="filter-title">
            <h4>Filter posts by:</h4>
            <h3>Category</h3>
          </div>
          <div class="filter-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est porro ullam temporibus laudantium odio, unde impedit ut.</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul class="grid-list grid-list-2 filter-categories-list">
						{exp:channel:categories category_group="1" show_empty="no" parent_only="yes"}
							<li><a href="{path='category/index'}">{category_name}</a></li>
						{/exp:channel:categories}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-module-2" id="filter-module-2">
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-4">
          <div class="filter-title">
            <h4>Filter posts by:</h4>
            <h3>Industry</h3>
          </div>
          <div class="filter-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptatum sint culpa, minima error impedit quisquam! Quo</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul class="grid-list grid-list-2 filter-categories-list">
						{exp:channel:categories category_group="3" show_empty="no" parent_only="yes"}
							<li><a href="{path='category/index'}">{category_name}</a></li>
						{/exp:channel:categories}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="filter-module-3" id="filter-module-3">
    <div class="container-sm">
      <div class="row">
        <div class="col-sm-4">
          <div class="filter-title">
            <h4>Filter posts by:</h4>
            <h3>Location</h3>
          </div>
          <div class="filter-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi enim, eaque officia a dolorem eius sit quas</p>
          </div>
        </div>
        <div class="col-sm-8">
          <ul class="grid-list grid-list-2 filter-categories-list">
						{exp:channel:categories category_group="2" show_empty="no" parent_only="yes"}
							<li><a href="{path='category/index'}">{category_name}</a></li>
						{/exp:channel:categories}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>