<header class="header">
  <div class="container">
    <div class="row">
      <div class="left col-sm-3">
        <a href="{site_url}" class="logo"></a>
      </div>
      <div class="center col-sm-6">
        <ul class="filter-triggers">
          <li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
          <li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
          <li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>
        </ul>
      </div>
      <div class="right col-sm-3">
        <form action="" class="search-form">
          <div class="input-group">
            <input type="search" class="form-control" autofocus>
            <span class="input-group-btn">
              <button class="btn btn-gray-darker" type="button"><i class="icon-magnifier"></i></button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>