<header class="header">
  <div class="container">
    <div class="row">
      <div class="left col-sm-3">
        <a href="{site_url}" class="logo"></a>
      </div>
      <div class="center col-sm-6">
        <ul class="filter-triggers">
	       	{if segment_2=='resultados_categorias'}

	       		{if segment_3_category_group_id=='1'}
	       			<li><a href="#filter-module-1">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
			        <li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
							<li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>	
	       		{/if}
	       		{if segment_3_category_group_id=='3'}
				 			<li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
				 			<li><a href="#filter-module-2">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
				 			<li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>
	       		{/if}
	       		{if segment_3_category_group_id=='2'}
	       			<li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
	       			<li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
				 			<li><a href="#filter-module-3">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
	       		{/if}  
	       		
	       		{if segment_3!='' AND segment_4!=''}  			       	
		       		
		       		{if segment_4_category_group_id=='1'}
							
							1
							
		       		{/if}
		       		{if segment_4_category_group_id=='3'}
							
							2
							
		       		{/if}
		       		{if segment_4_category_group_id=='2'}
							
							3
							
		       		{/if}		       				       		
		       		
		       		<!--{if segment_4_category_group_id=='3'}
		       			{if segment_3_category_group_id=='1'}
				        	<li><a href="#filter-module-1">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
				        {if:else}
				        	<li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
								{/if}	
					 			<li><a href="#filter-module-2">{segment_4_category_name} <i class="icon-chevron-down"></i></a></li>
		       			{if segment_3_category_group_id=='2'}
									<li><a href="#filter-module-3">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
								{if:else}
									<li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>
								{/if}	
		       		{/if}
		       		{if segment_4_category_group_id=='2'}
		       			<li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
		       			<li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
					 			<li><a href="#filter-module-3">{segment_4_category_name} <i class="icon-chevron-down"></i></a></li>
		       		{/if}	-->  
	       		{/if}
	       	
	       	
			      <!--{if segment_3_category_group_id=='1'}
			      	<li><a href="#filter-module-1">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if} 
			      {if segment_4==''}
			      	<li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
			      {if:else}
				      {if segment_4_category_group_id=='3'}
								<li><a href="#filter-module-2">{segment_4_category_name} <i class="icon-chevron-down"></i></a></li>
				      {/if} 		      
			      {/if}	        
						{if segment_5==''}
							<li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>
						{if:else}
				      {if segment_5_category_group_id=='2'}
								<li><a href="#filter-module-3">{segment_5_category_name} <i class="icon-chevron-down"></i></a></li>
				      {/if} 
			      {/if}-->  
		      {if:else}       
		        <li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
		        <li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
		        <li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>
		      {/if}
        </ul>
      </div>
      <div class="right col-sm-3">
				<form action="{path='content/resultados'}/" method="post">
					<div class="input-group">
				    <input type="hidden" name="csrf_token" value="{csrf_token}" /> <!-- Important! -->
	          <input type="search" name="keywords" class="form-control" id="keywords" value="" placeholder="Buscar" autofocus>
	          <span class="input-group-btn">
	            <button class="btn btn-gray-darker" type="button"><i class="icon-magnifier"></i></button>
	          </span>			    
					</div>
				</form>
      </div>
    </div>
  </div>
</header>
<header class="header-mobile">
  <div class="container">
    <div class="top">
      <a href="{site_url}" class="logo"></a>
    </div>
    <div class="center">
			<form action="{path='content/resultados'}/" method="post">
				<div class="input-group">
			    <input type="hidden" name="csrf_token" value="{csrf_token}" /> <!-- Important! -->
          <input type="search" name="keywords" class="form-control" id="keywords" value="" placeholder="Buscar" autofocus>
          <span class="input-group-btn">
            <button class="btn btn-gray-darker" type="button"><i class="icon-magnifier"></i></button>
          </span>			    
				</div>
			</form>
    </div>
    <div class="bottom">
      <ul class="filter-triggers">
       	{if segment_2=='resultados_categorias'}
		      {if segment_3_category_group_id=='1'}
		      	<li><a href="#filter-module-1">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
		      {/if} 
		      {if segment_3_category_group_id=='2'}
						<li><a href="#filter-module-1">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
		      {/if} 
		      {if segment_3_category_group_id=='3'}
						<li><a href="#filter-module-1">{segment_3_category_name} <i class="icon-chevron-down"></i></a></li>
		      {/if} 
		      {if segment_4==''}
		      	<li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
		      {if:else}
			      {if segment_4_category_group_id=='1'}
			      	<li><a href="#filter-module-2">{segment_4_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if} 
			      {if segment_4_category_group_id=='2'}
							<li><a href="#filter-module-2">{segment_4_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if} 
			      {if segment_4_category_group_id=='3'}
							<li><a href="#filter-module-2">{segment_4_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if} 		      
		      {/if}	        
					{if segment_5==''}
						<li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>
					{if:else}
			      {if segment_5_category_group_id=='1'}
			      	<li><a href="#filter-module-3">{segment_5_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if} 
			      {if segment_5_category_group_id=='2'}
							<li><a href="#filter-module-3">{segment_5_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if} 
			      {if segment_5_category_group_id=='3'}
							<li><a href="#filter-module-3">{segment_5_category_name} <i class="icon-chevron-down"></i></a></li>
			      {/if}
		      {/if}  
	      {if:else}       
	        <li><a href="#filter-module-1">Categories <i class="icon-chevron-down"></i></a></li>
	        <li><a href="#filter-module-2">Industry <i class="icon-chevron-down"></i></a></li>
	        <li><a href="#filter-module-3">Location <i class="icon-chevron-down"></i></a></li>	      
	      {/if}
      </ul>
    </div>
  </div>
</header>