<header class="toolbar">
  <div class="left">
    <div class="toolbar-results">
      {if segment_2!='resultados_newer' AND segment_2!='resultados_toprated'} 
	      <small>Showing results for:
      	{if segment_1==''} 
        	<span class="bold">All</span>
        {/if}
        
        {if segment_2=='resultados_tags'} 
        	<span class="bold">{segment_3}</span>
        {/if}

        {if segment_2=='resultados'}
        	{exp:super_search:results 
          	channel="project" 
          	orderby="title+desc"
						keyword_search_category_name="yes"
						limit="1"
          }
        		<a href="{site_url}" class="label label-default">{super_search_total_results} result(s) for {super_search_keywords}<i class="icon-cross"></i></a>
        	{/exp:super_search:results}
        {/if}
      {/if}
      {if segment_3_category_group_id=='2'}
      	<span class="bold">{segment_3_category_name}</span>
      {/if}       
      </small>
    </div>
  </div>
  <div class="right">
    <nav class="toolbar-filters">
      <a href="{site_url}content/resultados_toprated" {if segment_2=='resultados_toprated'}class="bold"{/if}>Top Rated</a>
      <a href="{site_url}content/resultados_newer" {if segment_2=='resultados_newer'}class="bold"{/if} >Newest</a>
    </nav>
  </div>
</header>