<header class="toolbar">
  <div class="left">
    <div class="toolbar-results">
      <small>Showing results for:
      	{if segment_1==''} 
        	<span class="medium">All</span>
        {/if}
        {if segment_2=='resultados'}
        	{exp:super_search:results 
          	channel="project" 
          	orderby="title+desc"
						keyword_search_category_name="yes"
						limit="1"
          }
        		<a href="{site_url}" class="label label-default">{super_search_total_results} result(s) for {super_search_keywords}<i class="icon-cross"></i></a>
        	{/exp:super_search:results}
        {/if}
        
       <!-- <a href="#" class="label label-default">Building community <i class="icon-cross"></i></a> 
        <a href="#" class="label label-default">Fast-food <i class="icon-cross"></i></a>
        <a href="#" class="label label-default">New York <i class="icon-cross"></i></a>-->

      </small>
    </div>
  </div>
  <div class="right">
    <nav class="toolbar-filters">
      <a href="#">Top Rated</a>
      <a href="#">Newest</a>
    </nav>
  </div>
</header>