<header class="toolbar">
  <div class="left">
    <div class="toolbar-results">
      <small>Showing results for:
      	{if segment_1=''} 
        <a href="#" class="label label-default">All <i class="icon-cross"></i></a>
        {if:else}
        <a href="#" class="label label-default">Building community <i class="icon-cross"></i></a> 
        <a href="#" class="label label-default">Fast-food <i class="icon-cross"></i></a>
        <a href="#" class="label label-default">New York <i class="icon-cross"></i></a>
        {/if}
      </small>
    </div>
  </div>
  <div class="right">
    <nav class="toolbar-filters">
      <a href="#">Top Rated</a>
      <a href="#">Newest</a>
    </nav>
  </div>
</header>