// SIZE CONTROL VARS
$size-control-placeholder: 530px;
$banner-height: 350px; // Banners
$site-menu-width-control: 101px; // Site menu
$menu-list-icons-width: 35px;
$header-height-control: 70px; // Header
$mobile-navbar-height: 56px; // Mobile header
$video-bg-height: 490px; // Hero Unit and Videocover
$user-card-height: 42px; // User cards
$user-card-width: 63px;

$header-mobile-height-control: (($header-height-control * 2) + 40);

html,
body {
	background-color: $body-bg;	
	&::-webkit-scrollbar { 
    display: none; 
	}
}

.site-wrapper,
.site-content {
	position: relative;
	overflow: hidden;
}

.site-content {
	padding-top: ($header-height-control + ($header-height-control / 2));
	min-height: 100vh;
	@media #{$md-down} {
		padding-top: $header-height-control + 21;
	}
}

// HERO UNIT
.hero-unit {
	@include bg-img-control;
	height: $video-bg-height;
	position: relative;
	overflow: hidden;
	&.video-bg {
		overflow: hidden;
		height: $video-bg-height;
	}
	.overlay,
	.hero-unit-pic {
		@include position(absolute, 0 0 0 0);
		height: $video-bg-height;
	}
	.hero-unit-pic {
		img {
			width: 100%;
			height: auto;
		}
	}
}

// CLICKABLE DIV
[data-href]{
	cursor: pointer;
}

/* Pins */
$pin-height-control: 400px;
$pin-bg-color: white;
.pin {
	@include box-shadow(0px 1px 3px 0px rgba($gray-light, 0.3));
	@include normalize-text;
	border-radius: $border-radius-base;
	background-color: $pin-bg-color;
	position: relative;
	&:hover {
		.pin-title {
			@include transition(color 0.3s ease-in-out);
			color: $gray;
		}
		// .pin-pic {
		// 	img {
		// 		@include transform(scale(1.1) rotate(1deg));
		// 		@include transition(all 0.3s ease-in-out);
		// 	}
		// }
	}
	.pin-top,
	.pin-center {
		background-color: $pin-bg-color;
	}
	.pin-top,
	.pin-center,
	.pin-bottom {
		@include clearfix;
		min-height: $pin-height-control / 7;
	}
	.pin-top {
		@include border-top-radius($border-radius-base);
		padding: $container-fluid;
	}
	.pin-center {
		@include border-bottom-radius($border-radius-base);
		overflow: hidden;
		.pin-pic {
			height: $pin-height-control - 170;
			overflow: hidden;
			position: relative;
			@media #{$md-down} {
				height: $pin-height-control - 140;
			}
			img {
				// @include transition(all 0.3s ease-in-out);
				width: 100%;
				height: auto;
			}
		}
		.overlay {
			@include border-bottom-radius($border-radius-base);
			@include position(absolute, 0 0 0 0);
			@include flex-column-end;
			.pin-bottom {
				width: 100%;
				padding: $container-fluid;
			}
		}
	}
	.pin-onload {
		@include position(absolute, 0 0 0 0);
		border-radius: $border-radius-base;
		background-color: $gray-darker;
		.pin-onload-top,
		.pin-onload-center,
		.pin-onload-bottom {
			min-height: $pin-height-control / 7;
		}
		.pin-onload-top,
		.pin-onload-bottom {
			background-color: lighten($gray-darker, 1%);
		}
		.pin-onload-center {
			font-size: $font-size-h1;
		}
		.pin-onload-bottom {
			@include border-bottom-radius($border-radius-base);
			@include position(absolute, null 0 0 0);
			width: 100%;
		}
	}
	.pin-onload-pic {
		@include flex-column-center;
		min-height: $pin-height-control;
		color: $gray-light;
		// @include animation-name(fadeIn);
	 //  @include animation-timing-function(ease-in-out);
	 //  @include animation-iteration-count(infinite);
	 //  @include animation-fill-mode(both);
	 //  @include animation-duration(6s);
	}
	.pin-onload-content {
		padding: $container-fluid;
		.pin-onload-placeholder {
			@include list-unstyled;
			li {
				height: 6px;
				background-color: $gray-light;
				margin-bottom: 6px;
				overflow: hidden;
				span {
					display: block;
					width: 6px;
					height: 6px;
					background-color: $gray-lighter;
					// @include transform(skew(-35deg));
					@include animation-name(loading);
				  @include animation-timing-function(ease-in-out);
				  @include animation-iteration-count(infinite);
				  @include animation-fill-mode(both);
				  @include animation-duration(2s);
				}
				@for $i from 1 through 5 {
					&:nth-child(n+#{$i}) {
						$rand-width: random();
						width: percentage($rand-width);
						span {
							@include animation-delay(#{$i}s);
						}
					}
				}
			}
		}
	}
	.pin-category,
	.pin-title {
		text-transform: uppercase;
	}
	.pin-category {}
	.pin-title {
		@include transition(color 0.3s ease-in-out);
		color: $gray-darker;
		font-size: $font-size-h4;
		margin: 3px 0;
		margin: rem(3px) 0;
		a {
			color: $gray-darker;
			&:hover {
				color: $brand-primary;
			}
		}
	}
	.pin-location {
		font-size: 12px;
	}
	.pin-category {
		font-size: 10px;
	}
}
/*
	Pin button icons
*/
.btn-icon-custom {
	&.active {
		background-color: $brand-primary;
	}
}

/*
	Filters control
*/
.site-wrapper {
	&.filters-on {
		.filters-wrapper {
			@include transform(translateY(0));
			@include transition(all 0.2s $ease-out-quint);
		}
		.header {
			@include box-shadow(none);
			// background-color: $gray-darker;
			// .logo {
			// 	background-image: url(../img/logo_LVL.white.png);
			// }
		}
	}
}
.filters-wrapper {
	@include position(absolute, 0 0 0 0);
	@include transition(all 0.2s $ease-out-quint);
	@include transform(translateY(-100%));
	// @include flex-column-center;
	padding: $header-height-control 0;
	background-color: rgba($gray-darker, 1);
	z-index: 500;
	overflow-y: scroll;
	@media #{$md-down} {
		// display: block;
		padding-top: $header-height-control + 21;
	}
	.filters-close {
		@include position(absolute, ($header-height-control + $container-fluid) 0 null 0);
		width: 100%;
		text-align: right;
		@media #{$md-down} {
			@include position(absolute, ($header-mobile-height-control) null null null);
		}
		a {
			font-size: $font-size-h1;
		}
	}
	[class*="filter-module-"] {
		@include position(absolute, 35% null null null);
		@include transform(translateX(100%));
		// @include transition(all 0.2s $ease-out-quint);
		// opacity: 0;
		width: 100%;
		@media #{$md-down} {
			@include position(absolute, ($header-mobile-height-control) null null null);
			&:last-child {
				@include transform(translateX(200%));
			}
		}
		&.on-screen {
			@include transform(translateX(0));
			// @include transition(all 0.2s $ease-out-quint);
		}
		&.animated {
			// opacity: 1;
			.filter-module-title {
				// opacity: 1;
			}
		}
	}
	.filter-title {
		@include normalize-text;
		// padding-top: $container-fluid;
		color: white;
		text-align: right;
		h4 {
			font-size: $font-size-base;
			color: $brand-primary;
		}
		h3 {
			@include bold;
			text-transform: uppercase;
		}
	}
	.filter-description {
		color: white;
		text-align: right;
		padding-top: 21px;
		margin-bottom: 35px;
	}
	@media #{$md-down} {
		.filter-title,
		.filter-description {
			text-align: center;
		}
	}
	// .filters-submit {
	// 	@include position(absolute, null 0 ($header-height-control * 2) 0);
	// 	text-align: right;
	// 	width: 100%;
	// }
	.filter-categories-list {
		li {
			padding: 0px;
			margin-bottom: $container-fluid / 2;
			&:before {
				font-family: 'icomoon';
				content: "\e93c";
				color: $brand-primary;
				margin-right: $container-fluid;
			}
			a {
				color: white;
				font-size: $font-size-h4;
				&:hover,
				&.active {
					text-decoration: underline !important;
				}
			}
		}
	}
}

// POSTS GALLERY
$gallery-cell-height-control: 490px;
.gallery-wrapper {
	position: relative;
	.gallery {
		// margin: 0 -($container-fluid / 2);
		.gallery-cell {
			@include bg-img-control-top; 
			width: 101%;
			height: $gallery-cell-height-control;
			height: rem($gallery-cell-height-control);
		}
	}
	.gallery-control-left,
	.gallery-control-right {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		@media #{$md-down} {
			display: none;
		}
	}
	.gallery-control-left {
		left: 0;
	}
	.gallery-control-right {
		right: 0;
	}
	.gallery-button-left,
	.gallery-button-right {
		@include flex-column-center;
		@include flex-align-center;
		@include box-shadow-default;
		position: absolute;
		top: 50%;
		background-color: $brand-primary;
		width: 42px;
		height: 63px;
		i {
			font-size: $font-size-h3;
			color: white;
		}
	}
	.gallery-button-left {
		@include border-left-radius($border-radius-base);
		left: -42px;
		i {
			padding-right: 3px;
		}
	}
	.gallery-button-right {
		@include border-right-radius($border-radius-base);
		right: -42px;
		i {
			padding-left: 3px;
		}
	}	
}

// POST INFO BLOCK
.info-block {
	@include normalize-text;
	margin-bottom: $container-fluid;
	h4 {
		@include bold;
		text-transform: uppercase;
		color: $gray-light;
	}
}

/*
	Share icons bar
*/
.share-icons-bar {
	@media #{$md-down} {
		a {
			font-size: $font-size-h3;
		}
	}
}

/*
	Custom labels
*/
.label {
	&.label-default {
		font-size: 11px;
		background-color: transparent;
		color: $brand-primary;
		// border: 1px solid $gray-light;
		border: none;
	}
}

/*
	Back to top
*/
.back-to-top {
	@include position(absolute, null $container-fluid $container-fluid null);
	@include flex-column-center;
	@include flex-align-center;
	@include box-shadow-default;
	background-color: #fff;
	border-radius: 50%;	
	height: 56px;
	width: 56px;
	&:hover,
	&.active {
		background-color: darken(#fff, 3%);
		cursor: pointer;
		i {
			color: darken($brand-primary, 3%);
		}
	}
	i {
		color: $brand-primary;
		font-size: $font-size-h3;
	}
}
















