header.header {
	// @include position(absolute, 0 0 null 0);
	@include box-shadow(0 1px 1px 0px rgba($gray-light, 0.3));
	@include position(fixed, 0 0 null 0);
	@include normalize-text;
	min-height: $header-height-control;
	-webkit-backface-visibility: hidden; 
	-webkit-transform: translateZ(0);
	background-color: white;
	z-index: 1000;
	width: 100%;
	@media #{$md-down} {
		display: none;
	}
	.container,
	.container-sm,
	.container-fluid {
		.row,
		.clearfix {
			@include flex-row-space-between;
		}
	}
	.left,
	.right {
	}
	.left,
	.center {
		@include flex-column-center;
	}
	.left,
	.center,
	.right {
		min-height: $header-height-control;
	}
	.left {
		width: 160px;
	}
	.center {
		@include flex-grow(1);
		text-align: center;
	}
	.right {
		@include flex-column-center;
		@include flex-align-end;
		text-align: right;
		width: 280px;
	}
}
.logo {
	display: inline-block;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 40px;
	width: 160px;
	background-image: url(../img/logo_LVL.MarcoPolo.png); 
	img {
		width: 88px;
		height: auto;
	}
}

.filter-triggers {
	@include list-unstyled;
	@include clearfix;
	text-align: center;
	li {
		@include flex-column-center;
		height: $header-height-control;
		padding: 0 $container-fluid;
		text-transform: uppercase;
		width: 33.33%;
		float: left;
		@media #{$sm-down} {
			height: $header-height-control - 28;
			font-size: 12px;
		}
		&:hover {
			cursor: pointer;
			background-color: $gray-darker;
			a {
				color: white;
			}
		}
		&.active {
			background-color: $gray-darker;
			a {
				color: $brand-primary;
				i {
					color: $brand-primary;
				}
			}
			&:hover {
				a {
					color: $brand-primary;
					i {
						color: $brand-primary;
					}
				}	
			}
		}
	}
	a {
		color: $gray;
		i {
			font-size: 9px;
		}
	}
}

header.header-mobile {
	@include position(absolute, 0 0 null 0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	background-color: $body-bg;
	z-index: 1000;
	display: none;
	width: 100%;
	@media #{$md-down} {
		display: block;
	}
	.top,
	.center,
	.bottom {
		padding-top: $container-fluid;
	}
	.top {
		text-align: center;
	}
	.center {}
	.bottom {}
	.logo {
		@extend .logo;
	}
}

.toolbar {
	@include flex-row-space-between;
	border-bottom: 1px solid $gray-light;
	padding: 3px 0;
	@media #{$md-down} {
		display: none;
	}
	.left {}
	.right {}
	.toolbar-results {
		small,
		a:not(.label) {
			color: $gray-dark;
			text-transform: uppercase;
		}
		span {
			color: $gray-darker;
		}
	}
	.toolbar-filters {
		text-transform: uppercase;
		a {
			display: inline-block;
			margin-left: $container-fluid;
			font-size: 12px;
			font-size: rem(12px);
			color: $gray-dark;
			&:hover,
			&.active {
				color: $brand-primary;
			}
			i {
				font-size: 12px;
				font-size: rem(12px);
			}
		}
	}
}


















