/* 

	EBM:REF
	Mobile Menu

*/

// .mobile-navbar {
// 	@include position(fixed, 0 0 null 0);
// 	z-index: 1000;
// 	width: 100%;
// 	height: $mobile-navbar-height;
// 	background: white;
// 	border-bottom: 1px solid $gray-lighter;
// 	@include flex-row-space-between;
// 	padding: 0 $container-fluid;
// 	.left,
// 	.right {
// 		height: $mobile-navbar-height;
// 		@include flex-column-center;
// 	}
// 	.left {}
// 	.right {}
// 	.logo {
// 		@include bg-img-control;
// 		width: $mobile-navbar-height - 7;
// 		height: $mobile-navbar-height - 7;
// 	}
// 	.menu-trigger {
// 		background-color: $brand-primary;
// 		width: $mobile-navbar-height - 14;
// 		height: $mobile-navbar-height - 14;
// 		text-align: center;
// 		color: white;
// 		font-size: $font-size-h1;
// 	}
// }

.mobile-menu {
	@include transition(transform 0.2s ease-in-out);
	@include transform(translateX(100%));
	@include position(fixed, 0 0 0 null);
	padding-top: $header-height-control;
	background: $gray-darker;
	min-height: 100%;
	z-index: 900;
	height: 100%;
	width: 100%;
	.mobile-nav-display-triggers {
		> ul {
			@include list-unstyled;
			> li {
				a {
					@include light;
					text-transform: uppercase;
					padding: $container-fluid;
					font-size: $font-size-h4;
					color: $gray-lighter;
					display: block;
				}
				&:nth-child(odd) {
					background-color: lighten($gray-darker, 3%);
				}
				&:nth-child(even) {
					background-color: $gray-darker;
				}
			}
		}
	}
	.mobile-nav-display {
		@include transition(transform 0.2s ease-in-out);
		@include transform(translateX(100%));
		@include position(fixed, 0 0 0 null);
		padding-top: $header-height-control;
		background: $gray-darker;
		overflow-y: scroll;
		min-height: 100%;
		z-index: 901;
		height: 100%;
		width: 100%;
		.top {
			padding: $container-fluid;
			h3 {
				@include light;
				margin-top: 21px;
				margin-bottom: 0;
				text-transform: uppercase;
			}
		}
		.center {
			> ul {
				@include list-unstyled;
				li {
					a {
						display: block;
						text-transform: uppercase;
						padding: ($container-fluid - 2) $container-fluid;
						color: $gray-lighter;
						font-size: $font-size-base;
						span {}
					}
					&:nth-child(odd) {
						background-color: lighten($gray-darker, 3%);
					}
					&:nth-child(even) {
						background-color: $gray-darker;
					}
				}
			}
		}
		.bottom {}
		.back {
			display: block;
			&:hover {
				cursor: pointer;
			}
		}
	}
}

.site-wrapper {
	&.menu-on {
		.mobile-menu {
			@include transform(translateX(0px));
			@include transition(transform 0.2s ease-in-out);
		}
	}
	@for $i from 1 through 10 {
		&.display.mobile-nav-display-#{$i} {
			#mobile-nav-display-#{$i} {
				@include transition(transform 0.2s ease-in-out);
				@include transform(translateX(0px));
			}
		}
	}
}