// Common form controls

// select
// textarea
// input[type="text"]
// input[type="password"]
// input[type="datetime"]
// input[type="datetime-local"]
// input[type="date"]
// input[type="month"]
// input[type="time"]
// input[type="week"]
// input[type="number"]
// input[type="email"]
// input[type="url"]
// input[type="search"]
// input[type="tel"]
// input[type="color"]

$input-type-list: 
// select,
// textarea,
"text",
"password",
// "datetime",
// "datetime-local",
// "date",
// "month",
// "time",
// "week",
// "number",
"email";
// "url",
// "search",
// "tel",
// "color";

/*
	Search Form
*/
$search-form-height-control: 40px;
.search-form {
	input,
	button {
		border-radius: 0px;
	}
	input {
		height: $search-form-height-control;
		font-size: $font-size-h3;
	}
	button {
		line-height: 0;
		font-size: $font-size-h4;
		height: $search-form-height-control;
		width: $search-form-height-control;
	}
}


// Form overrides 
.select-override {
  @include user-select(none);
  position: relative;
  text-indent: 1px;
  text-overflow: "";
  &.input-lg {
    line-height: 28px;
    // background: white url(/img/arrow-down.svg) no-repeat 98%;
  }
}

/*
	Multiselect custom
*/
.multiselect-custom {
	@include box-shadow(none);
	background-color: darken($gray-darker, 3%);
	border: 1px solid darken($gray-darker, 7%);
	overflow-y: auto;
	height: 210px !important;
	padding: 0 $container-fluid;
	&::-webkit-scrollbar { 
    display: none; 
	}
	optgroup {}	
	option {
		padding: 0;
		margin: 0 (-$container-fluid);
		&:checked {
			background-color: darken($gray-darker, 3%);
			color: $brand-primary;
		}
		&::-moz-selection,
		&::selection {
			background-color: darken($gray-darker, 3%);
			color: $brand-primary;
		}
	}
	&:focus {
		@include box-shadow(none);
		border-color: darken($gray-darker, 9%);
	}
}




























