.panel {
	border-radius: $border-radius-base;
	background-color: white;
	position: relative;
	min-height: 140px;
	// overflow: hidden;
	.panel-head,
	.panel-footer {
		padding: $container-fluid;
	}
	.panel-head {
		border-top-left-radius: $border-radius-base;
		border-top-right-radius: $border-radius-base;
		background-color: $gray-darker;
		@include clearfix;
		padding: $container-fluid;
		// border-bottom: 1px solid $gray-lighter;
		@include normalize-text;
		.title {
			float: left;
			// @include light;
			text-transform: uppercase;
			color: white;
			@include bold;
		}
		.actions {
			float: right;
		}
	}
	.panel-body {
		border-bottom-left-radius: $border-radius-base;
		border-bottom-right-radius: $border-radius-base;
		@include clearfix;
		min-height: 140px;
		.top {

		}
		.center {

		}
		.bottom {

		}
	}
	.panel-footer {
		// position: absolute;
		// bottom: 0;
		// width: 100%;
		border-bottom-left-radius: $border-radius-base;
		border-bottom-right-radius: $border-radius-base;
		min-height: 28px;
		border-top: 1px solid $gray-lighter;
		@include clearfix;
	}
	// Panel Tables
	table.panel-table {
		
	}
	// Utilities
	&.panel-shadow {
		@include box-shadow-default;
	}	
}