{embed="includes/head"}
{embed="includes/header"}
		{embed="includes/filtros"}
    <main role="main" class="site-content">
      <section class="container">
				{embed="includes/sort"}
        <div class="row grid-list grid-list-4 grid-list-3-sm grid-list-1-xs pins-grid">
          <div class="grid-list-item">
            {exp:channel:entries channel="project" limit="10"}
            <div class="pin">
              <div class="pin-top">
                <small class="pin-category">Building community in fast-food</small>
                <h2 class="pin-title"><a href="post-show.html">Mall Sport</a></h2>
                <em class="pin-location">Santiago de Chile, CH</em>
              </div>
              <div class="pin-center">
                <div class="pin-pic">
	                {project_imagenes}
                  <img src="{image:url:small}" alt="Grid 1" class="ignore-srcset">
                  {/project_imagenes}
                  <a href="post-show.html" class="overlay">
                    <div class="pin-bottom">
                      <button class="btn btn-icon-custom btn-gray-darker btn-icon-left btn-sm">
                        <i>45</i>
                        <span>VOTE</span>
                      </button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            {/exp:channel:entries}
          </div>
        </div>
      </section>
    </main>
{embed="includes/footer"}    