{embed="includes/head"}
{embed="includes/header"}
		{embed="includes/filtros"}
    <main role="main" class="site-content">
      <section class="container">
				{embed="includes/sort"}
        <div class="row grid-list grid-list-4 grid-list-2-sm grid-list-1-xs pins-grid grid-list-2-md">
				{!--embed="content/scroll_toprated"--}

				{exp:query sql="SELECT count(rating),entry_id,title FROM exp_ratings group by entry_id order by count(rating) DESC "}
        {title}
				{/exp:query}
	
        </div>
      </section>
    </main>
{embed="includes/footer"}    