{embed="includes/head"}
{embed="includes/header"}
		{embed="includes/filtros"}
    <main role="main" class="site-content">
      <section class="container">
				{embed="includes/sort"}
        <div class="row grid-list grid-list-4 grid-list-3-sm grid-list-1-xs pins-grid">
					{exp:tag:search_results
					    tag_rank="total_entries"
					    where="any"
					}         
          <div class="grid-list-item">
            <div class="pin">
              <div class="pin-top">
                <small class="pin-category">{categories show_group="1"}{category_name}{/categories} in {categories show_group="3"}{category_name}{/categories}</small>
                <h2 class="pin-title"><a href="{site_url}project/{url_title}">{title}</a></h2>
                <em class="pin-location">{categories show_group="2"}{category_name}{/categories}</em>
              </div>
              <div class="pin-center">
                <div class="pin-pic">
	                {project_imagenes limit="1"}
                  <img src="{image:url:small}" alt="Grid 1" class="ignore-srcset">
                  {/project_imagenes}
                  <a href="{site_url}project/{url_title}" class="overlay">
                    <div class="pin-bottom">
											{exp:rating:form
										    entry_id="{entry_id}"
										    collection="Votos"
										    return="{site_url}"
										    anonymous="yes" 
											}
                      <input type="hidden" name="rating" id="rating" value="1">
                      <button type="submit" name="submit" value="Vota" class="btn btn-icon-custom btn-gray-darker btn-icon-left">
                        <i>
                          {exp:rating:stats entry_id="{entry_id}"}
                            {overall_count}
                            {if rating_no_results}
                              0
                            {/if}
                          {/exp:rating:stats}
                        </i>
                        <span>
											    Vote
                        </span>
                      </button> 
											{/exp:rating:form}
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>             
          {/exp:tag:search_results}
        </div>
      </section>
    </main>
{embed="includes/footer"}    