{embed="includes/head"}
{embed="includes/header"}
		{embed="includes/filtros"}
    <main role="main" class="site-content">
      <section class="container">
				{embed="includes/sort"}
        <div class="row grid-list grid-list-4 grid-list-2-sm grid-list-1-xs pins-grid grid-list-2-md">
				{!--embed="content/scroll_toprated"--}

				{exp:query sql="SELECT entry_id, count(rating) as cantidad_votos FROM exp_ratings group by entry_id order by cantidad_votos DESC"}
        {exp:channel:entries channel="project" limit="1" entry_id="{entry_id}" dynamic="off"}
        <div class="grid-list-item">
	        <div class="pin">
		        <div class="pin-top">
			        <small class="pin-category">{categories show_group="1"}{category_name}{/categories} in {categories show_group="3"}{category_name}{/categories}</small>
			        <h2 class="pin-title"><a href="{site_url}project/{url_title}">{title}</a></h2>
			        <em class="pin-location">{categories show_group="2"}{category_name}{/categories}</em>
			      </div>
			      <div class="pin-center">
				      <div class="pin-pic">
					      {project_imagenes limit="1"}
					      <img src="{image:url:small}" alt="Grid 1" class="ignore-srcset">
					      {/project_imagenes}
					      <a href="{site_url}project/{url_title}" class="overlay">
						      <div class="pin-bottom">
							      <button class="btn btn-icon-custom btn-gray-darker btn-icon-left mt-56">
							      	<i>{exp:rating:stats entry_id="{entry_id}"}{overall_count}{if rating_no_results}0{/if}{/exp:rating:stats}</i>
											<span>
												<small class="icon-check"></small>
											</span>
										</button>
						      </div>
						    </a>
						  </div>
						</div>
					</div>
				</div>
				{/exp:channel:entries}
				{/exp:query}
	
        </div>
      </section>
    </main>
{embed="includes/footer"}    