{embed="includes/head"}
{embed="includes/header"}
		{embed="includes/filtros"}
		{exp:channel:entries channel="project" limit="1" dynamic="off"}
    <main role="main" class="site-content">
      <section class="container">
        <header class="toolbar">
          <div class="left">
            <div class="toolbar-results">
              <small><a href="{site_url}"><i class="icon-chevron-left"></i> Back to posts</a></small>
            </div>
          </div>
          <div class="right">
            <nav class="toolbar-filters">
              <a href="#"><i class="icon-chevron-left"></i> Prev</a>
              <a href="#">Next <i class="icon-chevron-right"></i></a>
            </nav>
          </div>
        </header>
        <div class="row pv-42 mb-ch-21">
          <article class="col-sm-8 pr-70-sm">
            <div class="panel">
              <div class="panel-head">
                <div class="title">
                  <h1>{title}</h1>
                </div>
                <div class="actions"></div>
              </div>
              <div class="panel-body">
                <div class="gallery-wrapper">
                  <div class="gallery-control-left">
                    <a href="#" class="gallery-button-left"><i class="icon-chevron-left"></i></a>
                  </div>
                  <div class="gallery-control-right">
                    <a href="#" class="gallery-button-right"><i class="icon-chevron-right"></i></a>
                  </div>
                  <div class="gallery">
                    {project_imagenes}
                    <div class="gallery-cell" 
                        data-responsive-bg-img='{ 
                          "vw-phone": "{image:url:medium}",
                          "vw-tablet": "{image:url:medium}",
                          "vw-desktop": "{image:url:large}",
                          "vw-lg-desktop": "{image:url:large}"
                        }'>
                    </div>
                    {/project_imagenes}
                  </div>
                </div>
                <div class="p-14">
                  <p>{project_descripcion}</p>
                  <a href="{project_link}" target="_blank">Visit website <i class="icon-arrow-right"></i></a> {if project_link_adicional}| <a href="{project_link_adicional}" target="_blank">Aditional Link <i class="icon-arrow-right"></i></a>{/if}
                </div>
              </div>
              <div class="panel-footer"></div>
            </div>
          </article>
          <aside class="col-sm-4 pl-70-sm">
            <div class="mb-42">
              <div class="info-block">
                <h4>Category</h4>
                <strong>{categories show_group="1"}{category_name}{/categories}</strong>
              </div>
              <div class="info-block">
                <h4>Industry</h4>
                <strong>{categories show_group="3"}{category_name}{/categories}</strong>
              </div>
              <div class="info-block">
                <h4>Location</h4>
                <strong>{categories show_group="2"}{category_name}{/categories}</strong>
              </div>
              <div class="info-block">
                <button class="btn btn-icon-custom btn-gray-darker btn-icon-left">
                  <i>45</i>
                  <span>Vota</span>
                </button>
              </div>
            </div>
            <div class="normalize-text">
              <h6 class="uppercase">Tags</h6>
              <div class="separator separator-gray-light separator-full-width"></div>
            </div>
            <div class="mb-42">
              <div class="info block">
                <nav class="mb-ch-7">
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Tag</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Tag large</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Category</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Industry</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Fastf-ood Tag</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Tag tag tag</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Tagcloud</a>
                  <a href="#" class="btn btn-outline btn-sm btn-gray-light">Tag</a>
                </nav>
              </div>
            </div>
            <div class="normalize-text">
              <h6 class="uppercase">Share this</h6>
              <div class="separator separator-gray-light separator-full-width"></div>
              <div class="input-group">
                <span class="input-group-addon">URL</span>
                <input type="text" class="form-control" value="{site_url}project/{url_title}" aria-describedby="posturl" onclick="this.select()">
              </div>
              <nav class="pv-14 lead-ch text-gray share-icons-bar">
                <a href="#" class="flaticon-social122"></a>
                <a href="#" class="flaticon-social136"></a>
              </nav>
            </div>
          </aside>
        </div>
      </section>
    </main>
    {/exp:channel:entries}
{embed="includes/footer"}