{exp:channel:entries channel="project" limit="1"}
{project_imagenes limit="1"}
	{embed="includes/head" titulo="{title}" descripcion="{project_descripcion}" imagen="{image:url:medium}" url="{url_title}"}
{/project_imagenes}
{embed="includes/header"}
		{embed="includes/filtros"}
    <main role="main" class="site-content">
      <section class="container">
        <header class="toolbar">
          <div class="left">
            <div class="toolbar-results">
              <!--<small><a href="{site_url}"><i class="icon-chevron-left"></i> Regresar al inicio</a></small>-->
            </div>
          </div>
          <div class="right">
            <nav class="toolbar-filters">
							{exp:channel:prev_entry}
							  <a href="{path='project'}"><i class="icon-chevron-left"></i> Anterior</a>
							{/exp:channel:prev_entry}	  
							{exp:channel:next_entry}
							  <a href="{path='project'}">Siguiente <i class="icon-chevron-right"></i></a>
							{/exp:channel:next_entry}	   
            </nav>
          </div>
        </header>
        <div class="row pv-42 mb-ch-21">
          <article class="col-sm-8 pr-70-sm">
            <div class="panel">
              <div class="panel-head">
                <div class="title">
                  <h1 class="h3">{title}</h1>
                </div>
                <div class="actions"></div>
              </div>
              <div class="panel-body">
                <div class="gallery-wrapper">
                  <div class="gallery-control-left">
	                  {exp:channel:prev_entry}
                    <a href="{path='project'}" class="gallery-button-left"><i class="icon-chevron-right"></i></a>
                    {/exp:channel:prev_entry}
                  </div>
                  <div class="gallery-control-right">
	                  {exp:channel:next_entry}
                    <a href="{path='project'}" class="gallery-button-right"><i class="icon-chevron-left"></i></a>
                    {/exp:channel:next_entry}
                  </div>
                  <div class="gallery">
                    {project_imagenes}
                    <div class="gallery-cell" 
                        data-responsive-bg-img='{ 
                          "vw-phone": "{image:url:medium}",
                          "vw-tablet": "{image:url:medium}",
                          "vw-desktop": "{image:url}",
                          "vw-lg-desktop": "{image:url}"
                        }'>
                    </div>
                    {/project_imagenes}
                  </div>
                </div>
              </div>
              <!--<div class="panel-footer"></div>-->
            </div>
            <div class="pt-35">
	            <div class="normalize-text">
	              <h6 class="uppercase">Etiquetas</h6>
	              <div class="separator separator-gray-light separator-full-width"></div>
	            </div>
	            <div class="mb-42">
	              <div class="info block">
	                <nav class="mb-ch-7">
	                  {exp:tag:tags
	                      entry_id="{entry_id}"
	                      backspace="2"
	                      orderby="tag_name"
	                      sort="desc"
	                      limit="15"
	                  }
	                  <a href="{path='content/resultados_tags'}/{websafe_tag}" class="btn btn-outline btn-sm btn-gray-light">{tag}</a>
	                  {/exp:tag:tags}
	                </nav>
	              </div>
	            </div>	              	            
            </div>
          </article>
          <aside class="col-sm-4 pl-70-sm">
            <div class="mb-42">
              <div class="info-block">
                <h4 class="medium">Categoría</h4>
                {categories show_group="1"}
                	<a href="{site_url}content/resultados_categorias/{category_url_title}">{category_name}</a>
                {/categories}
              </div>
              <div class="info-block">
                <h4 class="medium">Industria</h4>
                {categories show_group="3"}
                	<a href="{site_url}content/resultados_categorias/{category_url_title}">{category_name}</a>
                {/categories}
              </div>
              <div class="info-block">
                <h4 class="medium">Ubicación</h4>
                {categories show_group="2"}
                	<a href="{site_url}content/resultados_categorias/{category_url_title}">{category_name}</a>
                {/categories}
              </div>
              <div class="mt-42 normalize-text">
	              <h6 class="uppercase">Descripción</h6>
	              <div class="separator separator-gray-light separator-full-width"></div>
              </div>
              <div class="mb-42">  
	              <p>{project_descripcion}</p>
                <a href="{project_link}" target="_blank">Visitar el website <i class="icon-arrow-right"></i></a> 
                {if project_link_adicional}
                	<br><a href="{project_link_adicional}" target="_blank">Link adicional <i class="icon-arrow-right"></i></a>
                {/if}
              </div>
              <div class="info-block">
								{exp:rating:form
							    entry_id="{entry_id}"
							    collection="Votos"
							    return="project/{url_title}"
							    anonymous="yes" 
								}
								<input type="hidden" name="rating" id="rating" value="1">
                <button type="submit" name="submit" value="Vota" class="btn btn-icon-custom btn-gray-darker btn-sm btn-icon-left">
                  <i>
                    {exp:rating:stats entry_id="{entry_id}"}
                      {overall_count}
                      {if rating_no_results}
                        0
                      {/if}
                    {/exp:rating:stats}
                  </i>
                  <span>
                    VOTAR
                  </span>
                </button>     
								{/exp:rating:form}
              </div>
	            <div class="normalize-text">
	              <h6 class="uppercase">Compartir</h6>
	              <div class="separator separator-gray-light separator-full-width"></div>
	              <div class="input-group">
	                <span class="input-group-addon">URL</span>
	                <input type="text" class="form-control" value="{site_url}project/{url_title}" aria-describedby="posturl" onclick="this.select()">
	              </div>
	              <nav class="pv-14 lead-ch text-gray share-icons-bar"> 
	                <div class="addthis_sharing_toolbox"></div>     
	              </nav>
	            </div>              
            </div>
          </aside>
        </div>
        <div class="row mb-ch-21">
          <article class="col-sm-8 pr-70-sm">
          </article>
          <aside class="col-sm-4 pl-70-sm">

          </aside>
        </div>
      </section>
    </main>
{/exp:channel:entries}
{embed="includes/footer"}